


# Projet Infovis

dans le projet de module information visualisation, nous allons faire une etude 
sur la distribution des maladies en algier pour l'années 2020 ,tout en etudions 
les facteurs ou les causes qui peuvent posées des maladies(fumer ,les boisons alcoolique, type de matiere grasse ,type des fruits ,types des legumes ,..).
Mais  avant de commencer il faut nettoyer et organiser les données pour facilité l'etude et leurs interpretation.

# 1- Pretraitement des données :

pour faire ça nous allons utiliser la library Pandas de python.

In [ ]:
import pandas as pd
import numpy as np

lire le fichier des données initiale.

In [ ]:
data= pd.read_csv("MNT.csv")

visualiser les données de fichier MNT.csv

In [ ]:
data.head()

,Horodateur,Score total,1.sexe,1.sexe [Score],1.sexe [Commentaires],2.wilaya,2.wilaya [Score],2.wilaya [Commentaires],2.Quel âge avez-vous ?,2.Quel âge avez-vous ? [Score],...,23.Combien de temps avez-vous passé en position assise ou couchée lors d'une journée habituelle ?,23.Combien de temps avez-vous passé en position assise ou couchée lors d'une journée habituelle ? [Score],23.Combien de temps avez-vous passé en position assise ou couchée lors d'une journée habituelle ? [Commentaires],"24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension,","24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension, [Score]","24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension, [Commentaires]",25.si oui c'est quoi la maladies?,25.si oui c'est quoi la maladies? [Score],25.si oui c'est quoi la maladies? [Commentaires],Unnamed: 74
0,2020/10/12 10:19:31 PM UTC+1,0.00 / 0,homme,-- / 0,NaN,NaN,NaN,NaN,37,-- / 0,...,8h,-- / 0,NaN,Assma tique,-- / 0,NaN,Asm,-- / 0,NaN,NaN
1,2020/10/12 10:25:06 PM UTC+1,0.00 / 0,homme,-- / 0,NaN,NaN,NaN,NaN,37,-- / 0,...,9h,-- / 0,NaN,Non,-- / 0,NaN,NaN,-- / 0,NaN,Option 1
2,2020/10/12 10:28:55 PM UTC+1,0.00 / 0,femme,-- / 0,NaN,NaN,NaN,NaN,64,-- / 0,...,9,-- / 0,NaN,oui,-- / 0,NaN,Diabète,-- / 0,NaN,Option 1
3,2020/10/12 10:29:54 PM UTC+1,0.00 / 0,homme,-- / 0,NaN,NaN,NaN,NaN,44,-- / 0,...,8h,-- / 0,NaN,Non,-- / 0,NaN,NaN,-- / 0,NaN,NaN
4,2020/10/12 10:36:22 PM UTC+1,0.00 / 0,homme,-- / 0,NaN,NaN,NaN,NaN,25,-- / 0,...,2h,-- / 0,NaN,Non,-- / 0,NaN,NaN,-- / 0,NaN,Option 1

apres analyser le fichier des données nous avons choisi de supprimer les colonnes suivants que nous jugons non utilse pour l'étude:

In [ ]:

data.drop(['Score total','1.sexe [Score]','1.sexe [Commentaires]','2.wilaya',
           '2.wilaya [Score]','2.wilaya [Commentaires]',
           '2.Quel âge avez-vous ?\t\t [Score]',
           '2.Quel âge avez-vous ?\t\t [Commentaires]',
           '3.Quel est votre niveau d\'étude \t\t\t\t [Score]',
       '3.Quel est votre niveau d\'étude \t\t\t\t [Commentaires]',
           '4.Quelles est votre activité  professionnelle \t\t\t\t [Score]',
       '4.Quelles est votre activité  professionnelle \t\t\t\t [Commentaires]',
           
            '5.Fumez-vous actuellement des produits à base de tabac tels que cigarettes, cigares ? [Score]',
       '5.Fumez-vous actuellement des produits à base de tabac tels que cigarettes, cigares ? [Commentaires]',
           '6.si oui Fumez-vous quotidiennement ? [Score]',
           '6.si oui Fumez-vous quotidiennement ?',
       '6.si oui Fumez-vous quotidiennement ? [Commentaires]',
            '7.A quel âge avez-vous commencé à fumer? [Score]',
       '7.A quel âge avez-vous commencé à fumer? [Commentaires]',
            '8. Pourquoi avez-vous débuté à fumer?\t\t\t\t\t [Score]',
       '8. Pourquoi avez-vous débuté à fumer?\t\t\t\t\t [Commentaires]',
           '7.A quel âge avez-vous commencé à fumer?',
           '9. souhaitez-vous arrêter de fumer? [Score]',
       '9. souhaitez-vous arrêter de fumer? [Commentaires]',
           '9.avez-vous consommé une boisson alcoolisée?\t\t\t\t\t\t\t\t [Score]',
       '9.avez-vous consommé une boisson alcoolisée?\t\t\t\t\t\t\t\t [Commentaires]',
               '10.à quelle fréquence avez-vous bu au moins une boisson alcoolisée ?"\t\t\t\t\t\t\t\t [Score]',
       '10.à quelle fréquence avez-vous bu au moins une boisson alcoolisée ?"\t\t\t\t\t\t\t\t [Commentaires]',
           '10.à quelle fréquence avez-vous bu au moins une boisson alcoolisée ?"\t\t\t\t\t\t\t\t',
           '14.Habituellement, combien de jours par semaine consommez-vous des fruits ? [Score]',
       '14.Habituellement, combien de jours par semaine consommez-vous des fruits ? [Commentaires]',
           '15.Habituellement, combien de jours par semaine consommez-vous des légumes ? [Score]',
       '15.Habituellement, combien de jours par semaine consommez-vous des légumes ? [Commentaires]',
           ' 16.Quelle sorte de matière grasse (huile, beurre…)utilisez-vous le plus souvent pour la préparation des repas à la maison ? [Score]',
       ' 16.Quelle sorte de matière grasse (huile, beurre…)utilisez-vous le plus souvent pour la préparation des repas à la maison ? [Commentaires]',
           '17.Habituellement, combien de jours par semaine effectuez-vous des activités physiques? [Score]',
       '17.Habituellement, combien de jours par semaine effectuez-vous des activités physiques? [Commentaires]',
          '18.vous inscrivez dans une salle de sport? [Score]',
       '18.vous inscrivez dans une salle de sport? [Commentaires]', 
        '19.Est-ce que votre travail implique des activités physiques d\'intensité modérée, comme une marche rapide ? [Score]',
       '19.Est-ce que votre travail implique des activités physiques d\'intensité modérée, comme une marche rapide ? [Commentaires]',
       '20.Est-ce que vous effectuez des trajets d’au moins 10 minutes à pied ou à vélo ? [Score]',
       '20.Est-ce que vous effectuez des trajets d’au moins 10 minutes à pied ou à vélo ? [Commentaires]',
       '7.A quel âge avez-vous commencé à fumer?',
       '8. Pourquoi avez-vous débuté à fumer?\t\t\t\t\t',
       '9. souhaitez-vous arrêter de fumer?',
           '17.Habituellement, combien de jours par semaine effectuez-vous des activités physiques?',
           '18.vous inscrivez dans une salle de sport?',
       '19.Est-ce que votre travail implique des activités physiques d\'intensité modérée, comme une marche rapide ?',
       '20.Est-ce que vous effectuez des trajets d’au moins 10 minutes à pied ou à vélo ?',
       '21.Habituellement, combien de jours par semaine effectuez-vous des trajets d’au moins 30 minutes à pied ou à vélo ?',
       '21.Habituellement, combien de jours par semaine effectuez-vous des trajets d’au moins 30 minutes à pied ou à vélo ? [Score]',
       '21.Habituellement, combien de jours par semaine effectuez-vous des trajets d’au moins 30 minutes à pied ou à vélo ? [Commentaires]',
       
       '22.Est-ce que vous pratiquez des sports, du fitness ou des activités de loisirs pendant au moins dix minutes d\'affilée ? [Score]',
       '22.Est-ce que vous pratiquez des sports, du fitness ou des activités de loisirs pendant au moins dix minutes d\'affilée ? [Commentaires]',
       
       '23.Combien de temps avez-vous passé en position assise ou couchée lors d\'une journée habituelle ? [Score]',
       '23.Combien de temps avez-vous passé en position assise ou couchée lors d\'une journée habituelle ? [Commentaires]',
   '23.Combien de temps avez-vous passé en position assise ou couchée lors d\'une journée habituelle ?',
       '24.avez vous d\'autres maladies chroniques dans la famille? diabète, la tension,  [Score]',
       '24.avez vous d\'autres maladies chroniques dans la famille? diabète, la tension,  [Commentaires]',
 
       '25.si oui c\'est quoi la maladies? [Score]',
       '25.si oui c\'est quoi la maladies? [Commentaires]',
           'Unnamed: 74'
          
          ],1,inplace=True)
data.head()

,Horodateur,1.sexe,2.Quel âge avez-vous ?,3.Quel est votre niveau d'étude,4.Quelles est votre activité professionnelle,"5.Fumez-vous actuellement des produits à base de tabac tels que cigarettes, cigares ?",9.avez-vous consommé une boisson alcoolisée?,"14.Habituellement, combien de jours par semaine consommez-vous des fruits ?","15.Habituellement, combien de jours par semaine consommez-vous des légumes ?","16.Quelle sorte de matière grasse (huile, beurre…)utilisez-vous le plus souvent pour la préparation des repas à la maison ?","22.Est-ce que vous pratiquez des sports, du fitness ou des activités de loisirs pendant au moins dix minutes d'affilée ?","24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension,",25.si oui c'est quoi la maladies?
0,2020/10/12 10:19:31 PM UTC+1,homme,37,universitaire,Employé(e) de l’Etat,Non,Non,0,3,Huile végétale,Non,Assma tique,Asm
1,2020/10/12 10:25:06 PM UTC+1,homme,37,universitaire,Employé(e) de l’Etat,oui,Non,3,5,Huile végétale,oui,Non,NaN
2,2020/10/12 10:28:55 PM UTC+1,femme,64,école secondaire,chomeur(se),Non,Non,5,5,Huile végétale,Non,oui,Diabète
3,2020/10/12 10:29:54 PM UTC+1,homme,44,école secondaire,Employé(e) dans le privé,oui,Non,3,5,Huile végétale,Non,Non,NaN
4,2020/10/12 10:36:22 PM UTC+1,homme,25,universitaire,étudiant,Non,Non,2,4,Zit ziton,oui,Non,NaN

visualiser les colonnes restantes :

In [ ]:
data.columns

Index(['Horodateur', '1.sexe', '2.Quel âge avez-vous ?\t\t',
       '3.Quel est votre niveau d'étude \t\t\t\t',
       '4.Quelles est votre activité  professionnelle \t\t\t\t',
       '5.Fumez-vous actuellement des produits à base de tabac tels que cigarettes, cigares ?',
       '9.avez-vous consommé une boisson alcoolisée?\t\t\t\t\t\t\t\t',
       '14.Habituellement, combien de jours par semaine consommez-vous des fruits ?',
       '15.Habituellement, combien de jours par semaine consommez-vous des légumes ?',
       ' 16.Quelle sorte de matière grasse (huile, beurre…)utilisez-vous le plus souvent pour la préparation des repas à la maison ?',
       '22.Est-ce que vous pratiquez des sports, du fitness ou des activités de loisirs pendant au moins dix minutes d'affilée ?',
       '24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension, ',
       '25.si oui c'est quoi la maladies?'],
      dtype='object')

garder une copie des données apres le 1ere  filtrage

In [ ]:
data.to_excel('pre-traitement.xlsx')

nous avons remarque que les noms des colonnes sont tres long et sous forme de question , donc nous avons décide de les renomé :

In [ ]:
data.set_axis(['date','sexe','age','niv_etude','act_prof','fume','alcoo','cons_fruit','cons_legume',
              'mat_grasse','sport','malade_chronique','type_malade'],axis='columns', inplace=True)
data.head()

,date,sexe,age,niv_etude,act_prof,fume,alcoo,cons_fruit,cons_legume,mat_grasse,sport,malade_chronique,type_malade
0,2020/10/12 10:19:31 PM UTC+1,homme,37,universitaire,Employé(e) de l’Etat,Non,Non,0,3,Huile végétale,Non,Assma tique,Asm
1,2020/10/12 10:25:06 PM UTC+1,homme,37,universitaire,Employé(e) de l’Etat,oui,Non,3,5,Huile végétale,oui,Non,NaN
2,2020/10/12 10:28:55 PM UTC+1,femme,64,école secondaire,chomeur(se),Non,Non,5,5,Huile végétale,Non,oui,Diabète
3,2020/10/12 10:29:54 PM UTC+1,homme,44,école secondaire,Employé(e) dans le privé,oui,Non,3,5,Huile végétale,Non,Non,NaN
4,2020/10/12 10:36:22 PM UTC+1,homme,25,universitaire,étudiant,Non,Non,2,4,Zit ziton,oui,Non,NaN

afficher les colonnes apres le renommage

In [ ]:
data.columns

Index(['date', 'sexe', 'age', 'niv_etude', 'act_prof', 'fume', 'alcoo',
       'cons_fruit', 'cons_legume', 'mat_grasse', 'sport', 'malade_chronique',
       'type_malade'],
      dtype='object')

In [ ]:
data.columns

Index(['date', 'sexe', 'age', 'niv_etude', 'act_prof', 'fume', 'alcoo',
       'cons_fruit', 'cons_legume', 'mat_grasse', 'sport', 'malade_chronique',
       'type_malade'],
      dtype='object')

Nous avons remarque aussi que les responses ne sont pas unifier(y a des reponses majuscule,d'autre minuscule,...),donc nous avons utilisé la fonction str.upper pour rendre tout les reponses en majuscule.

In [ ]:
data["type_malade"]=data["type_malade"].str.upper()
data["sexe"]=data["sexe"].str.upper()
data["niv_etude"]=data["niv_etude"].str.upper()
data["act_prof"]=data["act_prof"].str.upper()
data["fume"]=data["fume"].str.upper()
data["alcoo"]=data["alcoo"].str.upper()
data["mat_grasse"]=data["mat_grasse"].str.upper()
data["sport"]=data["sport"].str.upper()
data["malade_chronique"]=data["malade_chronique"].str.upper()

affichier les données apres la modification :

In [ ]:
data.head()

,date,sexe,age,niv_etude,act_prof,fume,alcoo,cons_fruit,cons_legume,mat_grasse,sport,malade_chronique,type_malade
0,2020/10/12 10:19:31 PM UTC+1,HOMME,37,UNIVERSITAIRE,EMPLOYÉ(E) DE L’ETAT,NON,NON,0,3,HUILE VÉGÉTALE,NON,ASSMA TIQUE,ASM
1,2020/10/12 10:25:06 PM UTC+1,HOMME,37,UNIVERSITAIRE,EMPLOYÉ(E) DE L’ETAT,OUI,NON,3,5,HUILE VÉGÉTALE,OUI,NON,NaN
2,2020/10/12 10:28:55 PM UTC+1,FEMME,64,ÉCOLE SECONDAIRE,CHOMEUR(SE),NON,NON,5,5,HUILE VÉGÉTALE,NON,OUI,DIABÈTE
3,2020/10/12 10:29:54 PM UTC+1,HOMME,44,ÉCOLE SECONDAIRE,EMPLOYÉ(E) DANS LE PRIVÉ,OUI,NON,3,5,HUILE VÉGÉTALE,NON,NON,NaN
4,2020/10/12 10:36:22 PM UTC+1,HOMME,25,UNIVERSITAIRE,ÉTUDIANT,NON,NON,2,4,ZIT ZITON,OUI,NON,NaN

nous avons remarqué aussi que y a champs vide 'NAN' dans l'attribut la plus importante pour l'etude qui est la maladie ,donc nous avons décidé de replacer les valeurs vide par la valauer 'PAS DE MALADIE' pour ne pas perturbé l'etude .

In [ ]:
data["type_malade"]=data["type_malade"].replace(np.nan,'PAS DE MALADIE')

In [ ]:
data["type_malade"]

0                                 ASM
1                      PAS DE MALADIE
2                             DIABÈTE
3                      PAS DE MALADIE
4                      PAS DE MALADIE
5                               القلب
6                      PAS DE MALADIE
7                         LA TENSION
8                         LA TENSION
9                            DIABÈTE
10                     PAS DE MALADIE
11                     PAS DE MALADIE
12                     PAS DE MALADIE
13                     PAS DE MALADIE
14                                HTA
15               DIABÈTE.. LA TENTION
16                     PAS DE MALADIE
17     LA TENSION,INSUFFISANCE RÉNALE
18                            DIABÈTE
19                     PAS DE MALADIE
20           DIABÉTIQUE ET ASMATIQUE
21                     PAS DE MALADIE
22                           MON PÈRE
23                     PAS DE MALADIE
24                     PAS DE MALADIE
25                     PAS DE MALADIE
26                    LA TENSION(HTA)
27                                HTA
28                DIABETE RENSION...
29                            DIABETE
                    ...
76                    LA TENSION(HTA)
77                     PAS DE MALADIE
78                        ASTHMATIQUE
79                    LA TENSION(HTA)
80                            DIABETE
81                            DIABETE
82                        ASTHMATIQUE
83                            DIABETE
84                            DIABETE
85                            DIABETE
86                     PAS DE MALADIE
87                     PAS DE MALADIE
88                     PAS DE MALADIE
89                        ASTHMATIQUE
90                            DIABETE
91                    LA TENSION(HTA)
92                MALADIES CARDIAQUES
93                    LA TENSION(HTA)
94                            DIABETE
95                     PAS DE MALADIE
96                     PAS DE MALADIE
97                     PAS DE MALADIE
98                            DIABETE
99                    LA TENSION(HTA)
100                   LA TENSION(HTA)
101                    PAS DE MALADIE
102                    PAS DE MALADIE
103                           DIABETE
104                   LA TENSION(HTA)
105                   LA TENSION(HTA)
Name: type_malade, Length: 106, dtype: object

sauvegarder une copier là aussi

In [ ]:
data.to_excel('pretraitement_col_renommer.xlsx')

In [ ]:
d_pr= pd.read_excel("pretraitement_col_renommer.xlsx")
d_pr.to_csv('pretraitement_csv.csv')




# 2- Filtrage des donnes pour les deux  cas d'etude choisi :



pour le premier cas d'etude : **Avec 4 variables (sexe,age,fumer ,alcoolique)**

nous avons etudier la distribution des hommes et femmes fummeur et alcoolique selon l'age

In [ ]:
import pandas as p
df=p.read_csv('pretraitement_csv.csv')
df.drop(['Unnamed: 0','Unnamed: 0.1'],1,inplace=True)
df.head()

,date,sexe,age,niv_etude,act_prof,fume,alcoo,cons_fruit,cons_legume,mat_grasse,sport,malade_chronique,type_malade
0,2020/10/12 10:19:31 PM UTC+1,HOMME,37,UNIVERSITAIRE,EMPLOYÉ(E) DE L’ETAT,NON,NON,0,3,HUILE VÉGÉTALE,NON,ASSMA TIQUE,ASM
1,2020/10/12 10:25:06 PM UTC+1,HOMME,37,UNIVERSITAIRE,EMPLOYÉ(E) DE L’ETAT,OUI,NON,3,5,HUILE VÉGÉTALE,OUI,NON,PAS DE MALADIE
2,2020/10/12 10:28:55 PM UTC+1,FEMME,64,ÉCOLE SECONDAIRE,CHOMEUR(SE),NON,NON,5,5,HUILE VÉGÉTALE,NON,OUI,DIABÈTE
3,2020/10/12 10:29:54 PM UTC+1,HOMME,44,ÉCOLE SECONDAIRE,EMPLOYÉ(E) DANS LE PRIVÉ,OUI,NON,3,5,HUILE VÉGÉTALE,NON,NON,PAS DE MALADIE
4,2020/10/12 10:36:22 PM UTC+1,HOMME,25,UNIVERSITAIRE,ÉTUDIANT,NON,NON,2,4,ZIT ZITON,OUI,NON,PAS DE MALADIE

faire des réquets sur la table des données pour partitionnée nos données en :

1.   Homme fumeur et alcoolique 
2.   Homme fumeur et Non alcoolique 
3.   Homme Non fumeur et Non alcoolique 
4.   Femme fumeur et  alcoolique 
5.   Homme fumeur et Non alcoolique 
6.   Homme Non fumeur et Non alcoolique

In [ ]:

homme_fume_alcoo=df.loc[(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]
homme_fume_non_alcoo=df.loc[(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
homme_non_fume_non_alcoo=df.loc[(df['sexe']=='HOMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
femme_fume_alcoo=df.loc[(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]
femme_fume_non_alcoo=df.loc[(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
femme_non_fume_non_alcoo=df.loc[(df['sexe']=='FEMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]

0

creer une nouvelle table qui contient les données filtre au-dessous

In [ ]:
min_age=min(df['age'])
max_age=max(df['age'])

da={'age':[],
   'homme_fum_alcoo':[],
   'homme_fum_non_alcoo':[],
    'homme_non_fume_non_alcoo':[],
   'femme_fum_alcoo':[],
   'femme_fum_non_alcoo':[],
   'femme_non_fum_non_alcoo':[]}
data_f=p.DataFrame(da)
h_f_a=0
h_f_na=0
h_nf_na=0
f_f_a=0
f_f_na=0
f_nf_na=0

i=min_age
while (i<=max_age):
    h_f_a=sum(homme_fume_alcoo.age==i)
    h_f_na=sum(homme_fume_non_alcoo.age==i)
    h_nf_na=sum(homme_non_fume_non_alcoo.age==i)
    f_f_a=sum(femme_fume_alcoo.age==i)
    f_f_na=sum(femme_fume_non_alcoo.age==i)
    f_nf_na=sum(femme_non_fume_non_alcoo.age==i)
    data_f.loc[data_f.shape[0]]=[i,h_f_a,h_f_na,h_nf_na,f_f_a,f_f_na,f_nf_na]
    i+=1
    
data_f

,age,homme_fum_alcoo,homme_fum_non_alcoo,homme_non_fume_non_alcoo,femme_fum_alcoo,femme_fum_non_alcoo,femme_non_fum_non_alcoo
0,18.0,0.0,0.0,3.0,0.0,0.0,7.0
1,19.0,0.0,1.0,12.0,0.0,0.0,6.0
2,20.0,1.0,0.0,4.0,0.0,0.0,5.0
3,21.0,0.0,0.0,8.0,0.0,0.0,6.0
4,22.0,0.0,0.0,1.0,0.0,0.0,2.0
5,23.0,0.0,0.0,2.0,0.0,0.0,2.0
6,24.0,0.0,0.0,1.0,0.0,0.0,1.0
7,25.0,0.0,0.0,2.0,0.0,0.0,1.0
8,26.0,0.0,0.0,1.0,0.0,0.0,4.0
9,27.0,0.0,0.0,1.0,0.0,0.0,3.0
10,28.0,0.0,0.0,1.0,0.0,0.0,1.0
11,29.0,0.0,0.0,0.0,0.0,0.0,2.0
12,30.0,0.0,0.0,1.0,0.0,0.0,2.0
13,31.0,1.0,0.0,0.0,0.0,0.0,0.0
14,32.0,0.0,0.0,0.0,0.0,0.0,1.0
15,33.0,0.0,1.0,2.0,0.0,0.0,0.0
16,34.0,0.0,0.0,1.0,0.0,0.0,0.0
17,35.0,0.0,0.0,1.0,0.0,0.0,1.0
18,36.0,0.0,0.0,0.0,0.0,0.0,0.0
19,37.0,0.0,1.0,3.0,0.0,0.0,0.0
20,38.0,0.0,0.0,2.0,0.0,0.0,0.0
21,39.0,0.0,0.0,0.0,0.0,0.0,0.0
22,40.0,0.0,0.0,0.0,0.0,0.0,0.0
23,41.0,0.0,0.0,0.0,0.0,0.0,0.0
24,42.0,0.0,0.0,0.0,0.0,0.0,0.0
25,43.0,0.0,0.0,0.0,0.0,0.0,0.0
26,44.0,0.0,1.0,0.0,0.0,0.0,0.0
27,45.0,0.0,0.0,1.0,0.0,0.0,0.0
28,46.0,0.0,0.0,0.0,0.0,0.0,0.0
29,47.0,0.0,0.0,0.0,0.0,0.0,0.0
30,48.0,0.0,0.0,0.0,0.0,0.0,1.0
31,49.0,0.0,0.0,1.0,0.0,0.0,0.0
32,50.0,0.0,0.0,0.0,0.0,0.0,0.0
33,51.0,0.0,0.0,0.0,0.0,0.0,0.0
34,52.0,0.0,0.0,0.0,0.0,0.0,0.0
35,53.0,0.0,0.0,0.0,0.0,0.0,0.0
36,54.0,0.0,0.0,0.0,0.0,0.0,0.0
37,55.0,0.0,0.0,0.0,0.0,0.0,0.0
38,56.0,0.0,0.0,0.0,0.0,0.0,1.0
39,57.0,0.0,0.0,0.0,0.0,0.0,0.0
40,58.0,0.0,0.0,0.0,0.0,0.0,0.0
41,59.0,0.0,0.0,0.0,0.0,0.0,0.0
42,60.0,0.0,0.0,0.0,0.0,0.0,0.0
43,61.0,0.0,0.0,0.0,0.0,0.0,0.0
44,62.0,0.0,0.0,0.0,0.0,0.0,0.0
45,63.0,0.0,0.0,0.0,0.0,0.0,0.0
46,64.0,0.0,0.0,0.0,0.0,0.0,1.0

sauvegarder les resultats dans un fichier csv & excel

In [ ]:
data_f.to_excel('filter_data.xlsx')
data_f.to_csv('filter_data.csv', index=False)

In [ ]:
import pandas as pa
df=pa.read_csv('pretraitement_csv.csv')
df.drop(['Unnamed: 0','Unnamed: 0.1'],1,inplace=True)
df.head()

,date,sexe,age,niv_etude,act_prof,fume,alcoo,cons_fruit,cons_legume,mat_grasse,sport,malade_chronique,type_malade
0,2020/10/12 10:19:31 PM UTC+1,HOMME,37,UNIVERSITAIRE,EMPLOYÉ(E) DE L’ETAT,NON,NON,0,3,HUILE VÉGÉTALE,NON,ASSMA TIQUE,ASM
1,2020/10/12 10:25:06 PM UTC+1,HOMME,37,UNIVERSITAIRE,EMPLOYÉ(E) DE L’ETAT,OUI,NON,3,5,HUILE VÉGÉTALE,OUI,NON,PAS DE MALADIE
2,2020/10/12 10:28:55 PM UTC+1,FEMME,64,ÉCOLE SECONDAIRE,CHOMEUR(SE),NON,NON,5,5,HUILE VÉGÉTALE,NON,OUI,DIABÈTE
3,2020/10/12 10:29:54 PM UTC+1,HOMME,44,ÉCOLE SECONDAIRE,EMPLOYÉ(E) DANS LE PRIVÉ,OUI,NON,3,5,HUILE VÉGÉTALE,NON,NON,PAS DE MALADIE
4,2020/10/12 10:36:22 PM UTC+1,HOMME,25,UNIVERSITAIRE,ÉTUDIANT,NON,NON,2,4,ZIT ZITON,OUI,NON,PAS DE MALADIE

In [ ]:
homme_fume_diab=df.loc[(df['sexe']=='HOMME')&(df['fume']=='OUI')&
                        (df['type_malade']=='DIABETE')]
homme_non_fume_diab=df.loc[(df['sexe']=='HOMME')&(df['fume']=='NON')&
                        (df['type_malade']=='DIABETE')]
femme_fume_diab=df.loc[(df['sexe']=='FEMME')&(df['fume']=='OUI')&
                        (df['type_malade']=='DIABETE')]
femme_non_fume_diab=df.loc[(df['sexe']=='FEMME')&(df['fume']=='NON')&
                        (df['type_malade']=='DIABETE')]
#homme_fume_non_alcoo=df.loc[(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
#homme_non_fume_non_alcoo=df.loc[(df['sexe']=='HOMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
#femme_fume_alcoo=df.loc[(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]
#femme_fume_non_alcoo=df.loc[(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
#femme_non_fume_non_alcoo=df.loc[(df['sexe']=='FEMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
#print(homme_fume_alcoo)
print(len(homme_non_fume_diab))

12


pour le deuxième cas d'etude : **Avec 5 variables (sexe,age,fumer ,alcoolique,maladie )**
nous allons etudie la distribution des hommes et femmes fumeurs et/ou alcoolique selon la maladie(diabete, asm,La tension) et la plage d'age (nous avons choisi les plages suivants : [18-28,28-38,38-48,48-58])

In [ ]:
import pandas as pa
df=pa.read_csv('pretraitement_csv.csv')
df.drop(['Unnamed: 0','Unnamed: 0.1'],1,inplace=True)
df.head()

,date,sexe,age,niv_etude,act_prof,fume,alcoo,cons_fruit,cons_legume,mat_grasse,sport,malade_chronique,type_malade
0,2020/10/12 10:19:31 PM UTC+1,HOMME,37,UNIVERSITAIRE,EMPLOYÉ(E) DE L’ETAT,NON,NON,0,3,HUILE VÉGÉTALE,NON,ASSMA TIQUE,ASM
1,2020/10/12 10:25:06 PM UTC+1,HOMME,37,UNIVERSITAIRE,EMPLOYÉ(E) DE L’ETAT,OUI,NON,3,5,HUILE VÉGÉTALE,OUI,NON,PAS DE MALADIE
2,2020/10/12 10:28:55 PM UTC+1,FEMME,64,ÉCOLE SECONDAIRE,CHOMEUR(SE),NON,NON,5,5,HUILE VÉGÉTALE,NON,OUI,DIABÈTE
3,2020/10/12 10:29:54 PM UTC+1,HOMME,44,ÉCOLE SECONDAIRE,EMPLOYÉ(E) DANS LE PRIVÉ,OUI,NON,3,5,HUILE VÉGÉTALE,NON,NON,PAS DE MALADIE
4,2020/10/12 10:36:22 PM UTC+1,HOMME,25,UNIVERSITAIRE,ÉTUDIANT,NON,NON,2,4,ZIT ZITON,OUI,NON,PAS DE MALADIE

voici les requetes utiliser pour partitionné les données selon le cas d'etude et sont repartie selon :


*   pour les hommes :
1.   Homme fumeur et Alcoolique de l'age entre 18-38 et Diabete
2.   Homme fumeur et Alcoolique de l'age entre 18-38 et Asmatique 
3.   Homme fumeur et Alcoolique de l'age entre 18-38 et a la tension
4.   Homme fumeur et non Alcoolique de l'age entre 18-38 et Diabete
5.   Homme fumeur et non Alcoolique de l'age entre 18-38 et Asmatique 
6.   Homme fumeur et non Alcoolique de l'age entre 18-38 et a la tension
7.   Homme non fumeur et non  Alcoolique de l'age entre 18-38 et Diabete
8.   Homme non  fumeur et non Alcoolique de l'age entre 18-38 et Asmatique 
9.   Homme non fumeur et non Alcoolique de l'age entre 18-38 et a la tension
*   pour les femmes :
1.   femmes fumeur et Alcoolique de l'age entre 18-38 et Diabete
2.   femmes fumeur et Alcoolique de l'age entre 18-38 et Asmatique 
3.   femmes fumeur et Alcoolique de l'age entre 18-38 et a la tension
4.   femmes fumeur et non Alcoolique de l'age entre 18-38 et Diabete
5.   femmes fumeur et non Alcoolique de l'age entre 18-38 et Asmatique 
6.   femmes fumeur et non Alcoolique de l'age entre 18-38 et a la tension
7.   femmes non fumeur et non  Alcoolique de l'age entre 18-38 et Diabete
8.   femmes non  fumeur et non Alcoolique de l'age entre 18-38 et Asmatique 
9.   femmes non fumeur et non Alcoolique de l'age entre 18-38 et a la tension.

*   La meme chose pour le reste des plage d'age .

In [ ]:
#homme 18-28
h_d_n_f_n_a_18=df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='DIABETE')&(df['sexe']=='HOMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
h_d_f_n_a_18=df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='DIABETE')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
h_d_f_a_18=df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='DIABETE')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]


h_as_n_f_n_a_18=df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='HOMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
h_as_f_n_a_18=df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
h_as_f_a_18=df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]

h_t_n_f_n_a_18= df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='HOMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
h_t_f_n_a_18 =df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
h_t_f_a_18 =df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]


#femme  18-28
f_d_n_f_n_a_18=df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='DIABETE')&(df['sexe']=='FEMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
f_d_f_n_a_18=df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='DIABETE')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
f_d_f_a_18=df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='DIABETE')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]


f_as_n_f_n_a_18=df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='FEMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
f_as_f_n_a_18=df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
f_as_f_a_18=df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]

f_t_n_f_n_a_18= df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='FEMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
f_t_f_n_a_18 =df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
f_t_f_a_18 =df[(df['age']>=18)&(df['age']<=28)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]

header={'plage_age':[],
   'type_malade':[],
    'homme_fum_alcoo':[],
   'homme_fum_non_alcoo':[],
    'homme_non_fume_non_alcoo':[],
   'femme_fum_alcoo':[],
   'femme_fum_non_alcoo':[],
   'femme_non_fum_non_alcoo':[]}
data_new=p.DataFrame(header)
data_new.loc[data_new.shape[0]]=['18-28','DIABETE',len(h_d_f_a_18),len(h_d_f_n_a_18),len(h_d_n_f_n_a_18),
                                len(f_d_f_a_18),len(f_d_f_n_a_18),len(f_d_n_f_n_a_18)]
data_new.loc[data_new.shape[0]]=['18-28','ASTHMATIQUE',len(h_as_f_a_18),len(h_as_f_n_a_18),len(h_as_n_f_n_a_18),
                                len(f_as_f_a_18),len(f_as_f_n_a_18),len(f_as_n_f_n_a_18)]
data_new.loc[data_new.shape[0]]=['18-28','LA TENSION(HTA)',len(h_t_f_a_18),len(h_t_f_n_a_18),len(h_t_n_f_n_a_18),
                                len(f_t_f_a_18),len(f_t_f_n_a_18),len(f_t_n_f_n_a_18)]
data_new

,plage_age,type_malade,homme_fum_alcoo,homme_fum_non_alcoo,homme_non_fume_non_alcoo,femme_fum_alcoo,femme_fum_non_alcoo,femme_non_fum_non_alcoo
0,18-28,DIABETE,0.0,0.0,11.0,0.0,0.0,14.0
1,18-28,ASTHMATIQUE,0.0,0.0,2.0,0.0,0.0,2.0
2,18-28,LA TENSION(HTA),0.0,1.0,9.0,0.0,0.0,8.0

In [ ]:
len(f_t_n_f_n_a_18)

,date,sexe,age,niv_etude,act_prof,fume,alcoo,cons_fruit,cons_legume,mat_grasse,sport,malade_chronique,type_malade
26,2020/10/14 9:33:00 PM UTC+1,FEMME,26,UNIVERSITAIRE,ÉTUDIANT,NON,NON,4,3,BEURRE OU BEURRE ALLÉGÉ,OUI,OUI,LA TENSION(HTA)
52,2020/10/22 3:45:38 PM UTC+1,FEMME,24,UNIVERSITAIRE,ÉTUDIANT,NON,NON,3,5,HUILE VÉGÉTALE,NON,OUI,LA TENSION(HTA)
53,2020/10/22 3:48:36 PM UTC+1,FEMME,20,UNIVERSITAIRE,ÉTUDIANT,NON,NON,2,3,HUILE VÉGÉTALE,NON,OUI,LA TENSION(HTA)
71,2020/10/22 4:31:44 PM UTC+1,FEMME,23,UNIVERSITAIRE,ÉTUDIANT,NON,NON,3,3,HUILE VÉGÉTALE,NON,OUI,LA TENSION(HTA)
72,2020/10/22 4:38:19 PM UTC+1,FEMME,21,UNIVERSITAIRE,ÉTUDIANT,NON,NON,5,5,HUILE VÉGÉTALE,OUI,OUI,LA TENSION(HTA)
76,2020/10/22 5:09:47 PM UTC+1,FEMME,21,UNIVERSITAIRE,ÉTUDIANT,NON,NON,3,5,MARGARINE ET HUILE VÉGÉTALE,NON,OUI,LA TENSION(HTA)
79,2020/10/22 5:55:24 PM UTC+1,FEMME,18,UNIVERSITAIRE,ÉTUDIANT,NON,NON,2,5,MARGARINE,NON,OUI,LA TENSION(HTA)
99,2020/10/23 11:34:39 AM UTC+1,FEMME,21,UNIVERSITAIRE,ÉTUDIANT,NON,NON,2,4,HUILE VÉGÉTALE,NON,OUI,LA TENSION(HTA)

In [ ]:
#homme 28-38
h_d_n_f_n_a=df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='DIABETE')&(df['sexe']=='HOMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
h_d_f_n_a=df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='DIABETE')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
h_d_f_a=df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='DIABETE')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]


h_as_n_f_n_a=df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='HOMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
h_as_f_n_a=df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
h_as_f_a=df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]

h_t_n_f_n_a= df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='HOMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
h_t_f_n_a =df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
h_t_f_a =df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]


#femme  28-38
f_d_n_f_n_a=df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='DIABETE')&(df['sexe']=='FEMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
f_d_f_n_a=df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='DIABETE')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
f_d_f_a=df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='DIABETE')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]


f_as_n_f_n_a=df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='FEMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
f_as_f_n_a=df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
f_as_f_a=df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]

f_t_n_f_n_a= df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='FEMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
f_t_f_n_a =df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
f_t_f_a =df[(df['age']>28)&(df['age']<=38)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]
data_new.loc[data_new.shape[0]]=['28-38','DIABETE',len(h_d_f_a),len(h_d_f_n_a),len(h_d_n_f_n_a),
                                len(f_d_f_a),len(f_d_f_n_a),len(f_d_n_f_n_a)]
data_new.loc[data_new.shape[0]]=['28-38','ASTHMATIQUE',len(h_as_f_a),len(h_as_f_n_a),len(h_as_n_f_n_a),
                                len(f_as_f_a),len(f_as_f_n_a),len(f_as_n_f_n_a)]
data_new.loc[data_new.shape[0]]=['28-38','LA TENSION(HTA)',len(h_t_f_a),len(h_t_f_n_a),len(h_t_n_f_n_a),
                                len(f_t_f_a),len(f_t_f_n_a),len(f_t_n_f_n_a)]
data_new

,plage_age,type_malade,homme_fum_alcoo,homme_fum_non_alcoo,homme_non_fume_non_alcoo,femme_fum_alcoo,femme_fum_non_alcoo,femme_non_fum_non_alcoo
0,18-28,DIABETE,0.0,0.0,11.0,0.0,0.0,14.0
1,18-28,ASTHMATIQUE,0.0,0.0,2.0,0.0,0.0,2.0
2,18-28,LA TENSION(HTA),0.0,1.0,9.0,0.0,0.0,8.0
3,28-38,DIABETE,0.0,1.0,0.0,0.0,0.0,2.0
4,28-38,ASTHMATIQUE,0.0,0.0,0.0,0.0,0.0,0.0
5,28-38,LA TENSION(HTA),0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
#homme 38-48
h_d_n_f_n_a=df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='DIABETE')&(df['sexe']=='HOMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
h_d_f_n_a=df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='DIABETE')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
h_d_f_a=df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='DIABETE')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]


h_as_n_f_n_a=df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='HOMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
h_as_f_n_a=df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
h_as_f_a=df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]

h_t_n_f_n_a= df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='HOMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
h_t_f_n_a =df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
h_t_f_a =df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]


#femme  38-48
f_d_n_f_n_a=df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='DIABETE')&(df['sexe']=='FEMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
f_d_f_n_a=df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='DIABETE')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
f_d_f_a=df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='DIABETE')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]


f_as_n_f_n_a=df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='FEMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
f_as_f_n_a=df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
f_as_f_a=df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]

f_t_n_f_n_a= df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='FEMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
f_t_f_n_a =df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
f_t_f_a =df[(df['age']>38)&(df['age']<=48)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]

data_new.loc[data_new.shape[0]]=['38-48','DIABETE',len(h_d_f_a),len(h_d_f_n_a),len(h_d_n_f_n_a),
                                len(f_d_f_a),len(f_d_f_n_a),len(f_d_n_f_n_a)]
data_new.loc[data_new.shape[0]]=['38-48','ASTHMATIQUE',len(h_as_f_a),len(h_as_f_n_a),len(h_as_n_f_n_a),
                                len(f_as_f_a),len(f_as_f_n_a),len(f_as_n_f_n_a)]
data_new.loc[data_new.shape[0]]=['38-48','LA TENSION(HTA)',len(h_t_f_a),len(h_t_f_n_a),len(h_t_n_f_n_a),
                                len(f_t_f_a),len(f_t_f_n_a),len(f_t_n_f_n_a)]
data_new

,plage_age,type_malade,homme_fum_alcoo,homme_fum_non_alcoo,homme_non_fume_non_alcoo,femme_fum_alcoo,femme_fum_non_alcoo,femme_non_fum_non_alcoo
0,18-28,DIABETE,0.0,0.0,11.0,0.0,0.0,14.0
1,18-28,ASTHMATIQUE,0.0,0.0,2.0,0.0,0.0,2.0
2,18-28,LA TENSION(HTA),0.0,1.0,9.0,0.0,0.0,8.0
3,28-38,DIABETE,0.0,1.0,0.0,0.0,0.0,2.0
4,28-38,ASTHMATIQUE,0.0,0.0,0.0,0.0,0.0,0.0
5,28-38,LA TENSION(HTA),0.0,0.0,0.0,0.0,0.0,1.0
6,38-48,DIABETE,0.0,0.0,0.0,0.0,0.0,0.0
7,38-48,ASTHMATIQUE,0.0,0.0,0.0,0.0,0.0,0.0
8,38-48,LA TENSION(HTA),0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#homme 48-58
h_d_n_f_n_a=df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='DIABETE')&(df['sexe']=='HOMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
h_d_f_n_a=df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='DIABETE')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
h_d_f_a=df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='DIABETE')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]


h_as_n_f_n_a=df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='HOMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
h_as_f_n_a=df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
h_as_f_a=df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]

h_t_n_f_n_a= df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='HOMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
h_t_f_n_a =df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
h_t_f_a =df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='HOMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]


#femme 48-58
f_d_n_f_n_a=df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='DIABETE')&(df['sexe']=='FEMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
f_d_f_n_a=df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='DIABETE')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
f_d_f_a=df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='DIABETE')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]


f_as_n_f_n_a=df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='FEMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
f_as_f_n_a=df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
f_as_f_a=df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='ASTHMATIQUE')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]

f_t_n_f_n_a= df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='FEMME')&(df['fume']=='NON')&(df['alcoo']=='NON')]
f_t_f_n_a =df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='NON')]
f_t_f_a =df[(df['age']>48)&(df['age']<=58)&(df['type_malade']=='LA TENSION(HTA)')&(df['sexe']=='FEMME')&(df['fume']=='OUI')&(df['alcoo']=='OUI')]
data_new.loc[data_new.shape[0]]=['48-58','DIABETE',len(h_d_f_a),len(h_d_f_n_a),len(h_d_n_f_n_a),
                                len(f_d_f_a),len(f_d_f_n_a),len(f_d_n_f_n_a)]
data_new.loc[data_new.shape[0]]=['48-58','ASTHMATIQUE',len(h_as_f_a),len(h_as_f_n_a),len(h_as_n_f_n_a),
                                len(f_as_f_a),len(f_as_f_n_a),len(f_as_n_f_n_a)]
data_new.loc[data_new.shape[0]]=['48-58','LA TENSION(HTA)',len(h_t_f_a),len(h_t_f_n_a),len(h_t_n_f_n_a),
                                len(f_t_f_a),len(f_t_f_n_a),len(f_t_n_f_n_a)]
data_new

,plage_age,type_malade,homme_fum_alcoo,homme_fum_non_alcoo,homme_non_fume_non_alcoo,femme_fum_alcoo,femme_fum_non_alcoo,femme_non_fum_non_alcoo
0,18-28,DIABETE,0.0,0.0,11.0,0.0,0.0,14.0
1,18-28,ASTHMATIQUE,0.0,0.0,2.0,0.0,0.0,2.0
2,18-28,LA TENSION(HTA),0.0,1.0,9.0,0.0,0.0,8.0
3,28-38,DIABETE,0.0,1.0,0.0,0.0,0.0,2.0
4,28-38,ASTHMATIQUE,0.0,0.0,0.0,0.0,0.0,0.0
5,28-38,LA TENSION(HTA),0.0,0.0,0.0,0.0,0.0,1.0
6,38-48,DIABETE,0.0,0.0,0.0,0.0,0.0,0.0
7,38-48,ASTHMATIQUE,0.0,0.0,0.0,0.0,0.0,0.0
8,38-48,LA TENSION(HTA),0.0,0.0,0.0,0.0,0.0,0.0
9,48-58,DIABETE,0.0,0.0,1.0,0.0,0.0,0.0
10,48-58,ASTHMATIQUE,0.0,0.0,0.0,0.0,0.0,0.0
11,48-58,LA TENSION(HTA),0.0,0.0,0.0,0.0,0.0,0.0

sauvegrader les resultas dans un fichier csv & excel

In [ ]:
data_new.to_excel('data_vis_homme_femme_maladie_fum_alcoo.xlsx')
data_new.to_csv('data_vis_homme_femme_maladie_fum_alcoo.csv', index=False)